<!DOCTYPE html>
<html>
    <div th:include="navbar.html::navbar"></div>
    <div class="blockFiller"></div>
</html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <head>
        <title>Starbucks</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>

    <body> 
        <h1> Welcome to Cards Page</h1>

        <!-- <form method="POST" th:action="@{/cards}">
            <button type="submit">Create a New Card</button>
        </form>  -->
        <!-- <form method="POST" action = "/cardspage"></form> -->
        <!-- <form name="form" th:object="${command}" method="post" action=""></form> -->
        <form action="/cardspage" method="post">
            <button type="submit" name="new card" >Add New Card</a></button>
        </form>  
        <p> Here are your current cards:</p>
        <!-- <div th:if="${not#lists.isEmpty(cardsList)}">
            <div class="messages">
                <ul th:each="c : ${card}">
                    <li th:text="${c}" />
                </ul>
            </div>
        </div>
        <span th:if="${lists.isEmpty(cardsList)}" th:text=${cardsList}></span> -->

        <span th:text=${cardsList}></span>
    </body>

</html>