<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <head>
        <title>Starbucks</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
        
    </head>
    <h1 align="center"> Drink </h1>
    <div th:include="home.html::base">
    </div>

    <body> 
        <h1> Learn more about this drink: <span th:text="${drinkname}"></span></h1>
        <p th:text="${message}"></p>
        <img th:src="${drink_image}" alt="${drinkname}" style="width:100px;height:100px">
        <button type="submit"><a href = "/pay">Add to Cart</a></button>
    </body>

</html>