<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <head>
        <title>Starbucks</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
        
    </head>
    <h1 align="center"> Drink </h1>
    <div th:include="home.html::base">
    </div>

    <body> 
        <h1> Learn More About This Drink: th:value=${drink} </h1>
    </body>

</html>