<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <head>
        <title>Starbucks</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
        
    </head>
    <h1 align="center"> Menu </h1>
    <div th:include="home.html::base">
    </div>

    <body> 
        <h1> Welcome to Menu Page</h1>
        <div class="grid-container">
            <div class="grid-item item1">Drinks</div>
            <a href = "/menupage/Frappe"> <div class="grid-item item2"> Frappuccino</div> </a>
            <a href = "/menupage/Cappaccino"><div class="grid-item item3" >Cappuccino</div></a>
            <a href = "/menupage/Latte"><div class="grid-item item4" >Latte</div></a>
            <a href = "/menupage/Fresh%20Coffee" ><div class="grid-item item5" >Fresh Coffee</div></a>
          </div>
    </body>

</html>