<!DOCTYPE html>
<html>
    <div th:include="navbar.html::navbar"></div>
    <div class="blockFiller"></div>
</html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <head>
        <title>Starbucks</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
        
    </head>


    <body> 
        <h1> Welcome to Rewards Page</h1>

        <!-- <p>User has <span th:text=${points}></span> in rewards!</p> -->
    </body>

</html>