<div class="row no-gutters gutters-height">
    <div class="d-none d-md-flex col-md-2 col-lg-4 size-change-small bg-image"></div>
    <div class="col-md-8 col-lg-8 white-background size-change-big">
          <form action="{{ url_for('register') }}" method="post" class="register-form" id="resgistrationForm" >
              <h3 class="login-heading mb-4 heading-margin-change new-location">Sign Up</h3>
                {{ form.hidden_tag() }}
            <div class="form-label-group registration-margin-bottom">
                {{ form.username(class="form-control form-control-change", id="inputUsername", type= "text", placeholder="Username*")}}
                {{ form.username.label(for="inputUsername") }}

            </div>
            <div class="form-label-group registration-margin-bottom">
                {{ form.email(class="form-control form-control-change", id="inputEmail", type= "email", placeholder="Email*")}}
                {{ form.email.label(for="inputEmail") }}
            </div>

            <div class="form-label-group registration-margin-bottom">
                {{ form.password(class="form-control form-control-change", id="inputPassword", type= "password", placeholder="Password*")}}
                {{ form.password.label(for="inputPassword") }}
            </div>
            <div class="form-label-group registration-margin-bottom">
                {{ form.password2(class="form-control form-control-change", id="inputPassword2", type= "password",placeholder="Confirm Password*")}}
                {{ form.password2.label(for="inputPassword2") }}
            </div>
            <div>
                <button class="btn login-btn" id="submit" name="submit" style="margin-top: 15px;" type="submit"><span class="btnValue">Register</span><div class="lds-ellipsis" style="display: none"><div></div><div></div><div></div><div></div></div></button>
            </div>
              <p class="text-left log-margin-control">Already have an account? <a class="small" data-toggle="modal" data-target="#layoutForLogin" data-backdrop="false" id="directLogin" rel='99' href={{ url_for('login') }}>Log In</a></p>
          </form>
        </div>
      </div>
<script>
$(function () {
$("a[rel='99']").on('click', function () {
    $('.ModalClose').click();
  $("#layoutForSignUp").modal("hide");
  $('#exampleModalCenter1').modal("hide");
  $("body").removeClass("modal-open");
  $('.modal-backdrop').remove();
    $('#layoutForLogin').modal('show').find('.login-model-content').load($(".js-anchor1").attr('href'));
});
});
</script>
<script>
$(".modal").on("shown.bs.modal", function () {
if ($(".modal-backdrop").length > 1) {
    $(".modal-backdrop").not(':first').remove();
}
})
</script>
<script>
$(function () {
  $('form').on('submit',function (){
    $('.btnValue').hide();
    $('.lds-ellipsis').show();
    $('.lds-ellipsis').delay(900).fadeOut('slow', function () {
        $('.btnValue').fadeIn('slow');
    });
  });
})
</script>

