<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>BackOffice</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

            <!-- FORM SECTION -->
        <form name="form" action="customer" method="post">

            <label for="email">Search Customer Account by Email</label>
                <input type="text" id="email" name="email" placeholder="customer@email.com" th:field="*{email}">
           
            <!-- SUBMISSION BUTTON -->
            <input type="submit" name="action" id="process-payment" value="Process Payment" class="btn">
        </form>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>