<!--Starbucks background image: 
  https://unsplash.com/photos/-O3DdgS0h6c?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Back Office</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" src="style.css">
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <!--EDIT POINTS TAB-->
          <h2>Add Reward Points to Customer Account</h2>
          <!--th:action should have the name of the API? th:action="@{/add}"-->
          <!--th:action removed for now-->
          <!--th:object should have the name of the model attribute-->
          <form action="#" th:action="@{/backoffice}" th:object="${customer}" method="post">

            <!--To list customer information-->
            <!--TODO: Make table only appear after customer has been searched-->
            <div class="CurrentCustomer">
              <table id="mytable" border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Customer ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Reward Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${CurrentCustomer?.id}">Customer ID</td>
                        <td th:text="${CurrentCustomer?.firstName}">Name</td>
                        <td th:text="${CurrentCustomer?.email}">Email</td>
                        <td th:text="${CurrentCustomer?.rewardPoints}">Reward Points</td>
                    </tr>
                </tbody>
            </table>
            <p>
              <!--th:field should match the variable name in the model/entity-->
                Customer Email: <input type="text" th:field="*{email}"> 
            </p>
            <p>
                Operation: 
                <input type="radio" id="add" name="action" value="Add Points">
                <label for="add">Add</label>
                <input type="radio" id="subtract" name="action" value="Subtract Points">
                <label for="add">Subtract</label>
            </p> 
            <p>
                Reward Points: <input type="text" th:field="*{rewardPoints}">
            </p>
            <p>
              <!--Submits the action type, how can I change the action?-->
              <input type="submit" class="btn">
            </p>
          </form>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>