<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Display All Users</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" src="style.css">
    </head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

<button onclick="location.href='backoffice';" id="myButton" class="float-left submit-button">Backoffice</button>
<form action="#" th:action="@{/displayAll}" th:object="${customer}" method="post"></form>
    <table id="mytable" border="1" cellpadding="10">
      <thead>
          <tr>
              <th>Customer ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Reward Points</th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="customer : ${listCustomers}"></tr>
              <td th:text="${customer?.id}">Customer ID</td>
              <td th:text="${customer?.firstName}">Name</td>
              <td th:text="${customer?.email}">Email</td>
              <td th:text="${customer?.rewardPoints}">Reward Points</td>
          </tr>
      </tbody>
  </table>
  <input type="submit" class="btn">
</form>
</body>
</html>